<div class="detail-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-flower">
                    <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/BeautifulYou_Resized_1024x1024@2x.jpg?v=1588825269" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="info-flower">
                    <div class="buy-section">
                        <div class="flower-name">Bó Hoa Hồng Beautiful You</div>
                        <div class="flower-price mx-4">299.000đ</div>
                        <button class="btn-buy mx-4" routerLink="/confirm-order">Mua ngay</button>
                    </div>
                    <hr>
                    <div class="promo-section">
                        <p>Nhận hoa trong ngày & MIỄN PHÍ GIAO HÀNG khi đặt hàng trước 3pm mỗi ngày.</p>
                        <ul>
                            <li class="flower-caption">Bó hoa hồng đỏ đơn giản được gói rất trẻ trung và thanh lịch là
                                một trong những mẫu Best Seller của chúng tôi. Là lựa chọn hoàn hảo cho ngày Valentine
                                hoặc bất kỳ dịp đặc biệt nào.
                            </li>
                        </ul>
                        <p style="color: gray;">
                            <span style="font-style: italic;">Bó Hoa Hồng Beautiful You</span> Gồm:
                            <br>
                            - 12 bông Hoa Hồng đỏ
                            <br>
                            - Các loại hoa & lá khác
                        </p>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>