<div class="detail-block">
    <div class="container">
        <div class="row" *ngFor="let item of lstProduct">
            <div class="col-md-4">
                <div class="img-flower">
                    <img src={{item.productImg}} alt="product-img">
                </div>
            </div>
            <div class="col-md-8">
                <div class="info-flower">
                    <div class="buy-section">
                        <div class="flower-name">{{item.productName}}</div>
                        <div class="flower-price mx-4">{{formatter.format(item.price)}}</div>
                        <button 
                            class="btn-buy mx-4" 
                            (click)="handleAddProduct(item.productID)">

                            Mua 
                        </button>
                    </div>
                    <hr>
                    <div class="promo-section">
                        <p>Nhận hoa trong ngày & MIỄN PHÍ GIAO HÀNG khi đặt hàng trước 3pm mỗi ngày.</p>
                        <ul>
                            <li class="flower-caption">Bó hoa hồng đỏ đơn giản được gói rất trẻ trung và thanh lịch là
                                một trong những mẫu Best Seller của chúng tôi. Là lựa chọn hoàn hảo cho ngày Valentine
                                hoặc bất kỳ dịp đặc biệt nào.
                            </li>
                        </ul>
                        <p style="color: gray;">
                            <span style="font-style: italic;">{{item.productName}}</span> Gồm:
                            <br>
                            - 12 bông Hoa Hồng đỏ
                            <br>
                            - Các loại hoa & lá khác
                        </p>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>