<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active " data-toggle="tab" href="#productLst">Danh sách sản phẩm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#orderLst" (click)="getOrderList(1)" >Danh sách Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#addProduct" (click)="getCategories()" >Thêm sản phẩm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#addCate">Thêm ngành hàng</a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content ">
    <div class="tab-pane container active" id="productLst">
        <div class="search-bar">
            <form class="form-inline">
                <input class="form-control my-2 mx-1" name="keyword" type="text" placeholder="Search" #keyword >
                <button class="btn btn-success" (click)="handleSearchProduct(keyword.value)" >Search</button>
            </form>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tên sản phẩm</th>
                        <th class="text-center">Mã ngành hàng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Hình ảnh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products.data;index as i;">
                        <td class="text-center">{{item?.productId}}</td>
                        <td class="text-center">{{item?.productName}}</td>
                        <td class="text-center">{{item?.categoryId}}</td>
                        <td class="text-center">{{item?.price}}</td>
                        <td class="text-center">
                            <img src={{item.productImg}} alt="" srcset="" style="width: 100px;">
                        </td>
                        <td>
                            <button class="btn btn-info" style="margin-right: 15px;" (click)="openModal(i)" >Edit</button>
                            <button class="btn btn-danger" (click)="handleDeleteProduct(item?.productId)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" *ngIf="IsNothingToShow">
                Không có kết quả tìm kiếm
            </div>
            <ul class="pagination">
                <li class="page-item">
                    <a href="javascript:void(0)" (click) = "searchPrevious()">Trước</a>
                </li>
                <li class="page-item mx-4" >{{products.page}}</li>
                <li class="page-item">
                    <a href="javascript:void(0)" (click) = "searchNext()">Sau</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="tab-pane container fade" id="orderLst">
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Mã Đơn Hàng</th>
                        <th class="text-center">Tên khách hàng</th>
                        <th class="text-center">Tên sản phẩm mua</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstOrder">
                        <td class="text-center">{{item?.orderID}}</td>
                        <td class="text-center">{{item?.companyName}}</td>
                        <td class="text-center">{{item?.productName}}</td>
                        <td class="text-center">{{item?.amount}}</td>
                        <td class="text-center">{{item?.price}}</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#modalOrderDetail" (click)="openMoDalOrderDetail(item?.orderID)">Chi Tiết Đơn Hàng</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item">
                    <a href="javascript:void(0)" (click) = "preOrderLst()">Trước</a>
                </li>
                <li class="page-item mx-4" >{{page}}</li>
                <li class="page-item">
                    <a href="javascript:void(0)" (click) = "nextOrderLst()">Sau</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="tab-pane container fade" id="addProduct">
        <div class="container-fluid my-5" style="padding: 10px; border-radius: 5px; border: 1px solid black;">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-img" style="
                    height: 300px;
                    border: 1px solid black;
                    border-radius: 5px;">
                        <!-- <div style="
                            height: 300px;
                            background-image: url(../assets/unnamed.png);
                            background-position: center;
                            background-size: cover;
                        "></div> -->
                        <img src="{{newProduct.productImg}}"  alt=""  
                        style="width: 100%;border-radius: 5px;">
                    </div>
                </div>
                <div class="col-md-9">
                    <h3 class="text-center  text-uppercase">Thêm sản phẩm</h3>
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item my-2">
                                        <label for="productName">Tên sản phẩm</label>
                                        <input type="text" class="form-control" name="ProductName" [(ngModel)]="newProduct.productName">
                                    </div>
                                    <div class="input-item my-2">
                                        <label for="price">Giá</label>
                                        <input type="text" class="form-control" style="width: 50%;" name="Price" [(ngModel)]="newProduct.price" >
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item my-2">
                                        <label for="sel1">Ngành hàng</label>
                                        <select class="form-control custom-select" name="categoryId" [(ngModel)]="newProduct.categoryId" >
                                            <option [value]="cate.categoryId" *ngFor="let cate of lstCate?.data">{{cate.categoryName}}</option>
                                        </select>
                                    </div>
                                    <div class="input-item my-2">
                                        <label for="productImg">Link hình ảnh</label>
                                        <input type="text" class="form-control"  name="productImg" [(ngModel)]="newProduct.productImg">
                                    </div>
                                    <div style="display: flex;
                                    justify-content: end;">
                                        <button class="btn btn-success" (click)="addProduct()" >Thêm sản phẩm</button>
                                    </div>       
                                </div>                      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <div class="tab-pane container fade" id="addCate">
        <div class="container-fluid my-5" style="padding: 10px; border-radius: 5px; border: 1px solid black;">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-img" 
                    style="height: 300px;
                    border: 1px solid black;
                    padding: 7px;
                    border-radius: 5px;">
                        <img src="{{newCategory?.cateImg}}" alt="" srcset="" style="width: 100%;height: 100%;">
                    </div>
                    
                </div>
                <div class="col-md-9">
                    <h3 class="text-center  text-uppercase">Thêm Ngành Hàng</h3>
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item my-2">
                                        <label for="categoryName">Tên Ngành Hàng </label>
                                        <input type="text" class="form-control" name="categoryName" [(ngModel)]="newCategory.categoryName" >
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                   
                                    <div class="input-item my-2">
                                        <label for="cateImg">Link Hình Ảnh</label>
                                        <input type="text" class="form-control"  name="cateImg" [(ngModel)]="newCategory.cateImg" >
                                    </div>
                                    <div style="display: flex;
                                    justify-content: end;">
                                        <button class="btn btn-success" (click)="handleOnClickAddCateTab()" >Thêm Ngành Hàng</button>
                                    </div>       
                                </div>                      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-2">Product ID</div>
            <div class="col-3">
              <input type="text" [disabled]="true" class="form-control" [(ngModel)]="product.productId"/>
            </div>
            <div class="col-2">Product Name</div>
            <div class="col-5">
              <input type="text" class="form-control" [(ngModel)]="product.productName"/>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-2">Category ID</div>
            <div class="col-4">
              <select class="form-control" [(ngModel)]="product.categoryId">
                <option [value]="cate.categoryId" *ngFor="let cate of lstCate?.data">{{cate.categoryName}}</option>
               
              </select>
            </div>
            <div class="col-2">Price</div>
            <div class="col-4">
                <input type="text" class="form-control" [(ngModel)]="product.price" />
            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-2">ProductImg (Link)</div>
              <div class="col-10">
                  <input type="text" class="form-control" [(ngModel)]="product.productImg" />
              </div>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveProduct()" >Save</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chi Tiết Đơn Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">Mã Đơn Hàng</div>
                    <div class="col-3">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.orderID" />
                    </div>
                    <div class="col-2">Tên Khách Hàng</div>
                    <div class="col-5">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.companyName" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">Sản Phẩm</div>
                    <div class="col-4">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.productName" />
                    </div>
                    <div class="col-2">Số Lượng</div>
                    <div class="col-4">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.amount" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">Tổng Tiền</div>
                    <div class="col-4">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.price" />
                    </div>
                    <div class="col-2">email</div>
                    <div class="col-4">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.email" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">Số điện thoại</div>
                    <div class="col-3">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.phone" />
                    </div>
                    <br />
                    <div class="col-1">Địa chỉ</div>
                    <div class="col-6">
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="orderDetail.address" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
