*{
    font-family: 'Roboto', sans-serif;
}

.nav-bg{
    background-color: #f69e8d;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white !important;
    font-weight: 300;
    margin :0 20px;
    transition: all .5s;
}
.nav-link.home-link{
    cursor: pointer;
}
.nav-link:hover{
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 2px 2px 15px #ffffff;
}
.center-link{
    justify-content: center;
}
footer{
    background-color: #f69e8d;
}
.footer-content{
    font-weight: 300;
    color: white;
}
.links-title{
    font-weight: 300;
}
.light-weight{
    font-weight: 300;
}
.non-decorate-text{
    text-decoration: none;
    color: white;
}
.cart{
    position: fixed;
    z-index: 1;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f69e8d;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 40px 18px rgba(255,255,255,1);
}
.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon svg{
    font-size: 20px;
    color: wheat;
    transform: rotate(-21deg);
    /* right: 10px; */

}
.hide{
    display: none;
}