<!-- Header bar -->
<nav class="navbar navbar-expand-md nav-bg ">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">Flower Box</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse center-link" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link home-link" (click)="handleOnClickLink(1)">Bó Hoa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-link" (click)="handleOnClickLink(2)">Giỏ Hoa & Hộp Hoa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-link" (click)="handleOnClickLink(4)">Lãng Mạn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link home-link" (click)="handleOnClickLink(3)">Sinh Nhật</a>
        </li>
      </ul>
    </div>
</nav>
<!-- Header bar -->

<!-- Navbar -->
<!-- Gio hang -->
<!-- <div class="cart">
  <div class="cart-icon">
    <i class="fas fa-shopping-cart"></i>
  </div>
</div> -->
<!-- Gio hang -->

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container">
    <div class=" text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase light-weight">Giới thiệu</h5>
          <p class="footer-content">
            Họ tên:Trần Thanh Sơn 
            <br>
            MSSV: 1751010126
            <br>
            Phạm Thanh Giang
            <br>
            MSSV:1751010029
          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase links-title">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/Ettee" target="blank" class="non-decorate-text">Ettee's Github</a>
            </li>
            <li>
              <a href="https://www.facebook.com/ette9773" target="blank" class="non-decorate-text">Ettee's facebook</a>
            </li>
            <li>
              <a href="#!" target="blank" class="non-decorate-text">Giang's Github</a>
            </li>
            <li>
              <a href="#!" target="blank" class="non-decorate-text">Giang's facebook</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase light-weight">Chăm sóc khách hàng</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="non-decorate-text">Liên hệ với chúng tôi</a>
            </li>
            <li>
              <a href="#!" class="non-decorate-text">Câu hỏi thường gặp</a>
            </li>
            <li>
              <a href="#!" class="non-decorate-text">Phương thức thanh toán</a>
            </li>
            <li>
              <a href="#!" class="non-decorate-text">Chính sách bảo mật</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  </div>
  <!-- Footer Links -->
  <hr style="background-color: white;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Ettee" class="non-decorate-text" >Github/Ettee</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->