<div class="banner-carousel">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://flowerbox.com.vn/uploads/3/banner-2235-x-848-phu-nu-hoa-edit-center.jpg" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="https://flowerbox.com.vn/uploads/3/banner-web-vipmember-2235-x-848-canh-giua.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="https://flowerbox.com.vn/uploads/3/banner-web-enjoy-summer-wedding-2235-x-848-02.jpg" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>



<div class="container">
  <div class="flower-view-by-categories">
    <div class="container">
      <div class="title">Xem theo chủ đề</div>
      <div class="flower-theme">
        <div class="row">
          <div class="col-md-3">
            <a routerLink="/flower-by-theme/bohoa">
              <div class="categories-box">
                <div class="img-categories">
                  <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/collections/IMG_0890_125x.jpg?v=1581910008"
                    alt="">
                </div>
                <p class="cate-name">Bó hoa</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a routerLink="/flower-by-theme/giohoa-hophoa">
              <div class="categories-box">
                <div class="img-categories">
                  <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/collections/pok_125x.jpg?v=1578646416"
                    alt="">
                </div>
                <p class="cate-name">Giỏ Hoa & Hộp Hoa</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a routerLink="/flower-by-theme/sinhnhat">
              <div class="categories-box">
                <div class="img-categories">
                  <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/collections/blooming_sweetness_125x.png?v=1578646438"
                    alt="">
                </div>
                <p class="cate-name">Sinh Nhật</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a routerLink="/flower-by-theme/langmang">
              <div class="categories-box">
                <div class="img-categories">
                  <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/collections/assorted-blooms-pastel-mixed-blooms-1_1024x1024_2x_39f7479b-5366-4d78-86b6-b8dc4053d838_125x.jpg?v=1582604987"
                    alt="">
                </div>
                <p class="cate-name">Lãng Mạng</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="ngay-cua-me-section">
    <div class="title">Ngày Của Mẹ</div>
    <div class="flower-product">
      <div class="row">
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-gio-hoa-rose-land-2_360x.JPG?v=1583681164" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-gio-hoa-rose-land-2_360x.JPG?v=1583681164" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
  <hr>
  <div class="phu-nu-viet-section">
    <div class="title">Phụ Nữ Việt</div>
    <div class="flower-product">
      <div class="row">
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-gio-hoa-rose-land-2_360x.JPG?v=1583681164" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-bo-hoa-fly-me-to-the-moon-2_360x.jpg?v=1584324994" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flower-box">
            <a routerLink="/product-detail">
              <div class="img-product">
                <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/hoa-hong-gio-hoa-rose-land-2_360x.JPG?v=1583681164" alt="">
              </div>
              <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
              <div class="flower-price text-center">319.000đ</div>
            </a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>
