<div class="container" [ngSwitch]="categoryID">
    <h1 class="title text-center">{{categoryName}}</h1>
    <hr>
    <div class="flower-block">
        <div class="row">

            <div class="col-md-3 item-product " *ngFor="let item of productByCategory">
                <div class="flower-box">
                  <a (click)="handleOnClickProduct(item.productID)" class="clickable">
                    <div class="img-product">
                      <img src={{item.productImg}} alt="img">
                    </div>
                    <div class="py-3">
                      <div class="flower-name text-center">{{item.productName}}</div>
                      <div class="flower-price text-center">{{formatter.format(item.price)}}</div>
                    </div>
                  </a>
                </div>
            </div>

        </div>
    </div>
</div>
