<div class="container">
    <h1 class="title text-center">Giỏ Hoa & Hộp Hoa</h1>
    <hr>
    <div class="flower-block">
        <div class="row">
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flower-box">
                  <a routerLink="/product-detail">
                    <div class="img-product">
                      <img src="https://cdn.shopify.com/s/files/1/0247/2322/6706/products/LAVIEENROSE_RESIZED_900x.jpg?v=1587437903" alt="">
                    </div>
                    <div class="flower-name text-center">Bó Hoa Hồng La Vie En Rose</div>
                    <div class="flower-price text-center">319.000đ</div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
